driver = pgsql
connect = host={{ postgres_host }} dbname={{ dovecot_postgres_dbname }} user={{ dovecot_postgres_user }} password={{ dovecot_postgres_password }}
default_pass_scheme = BLF-CRYPT

password_query = SELECT localpart AS user, domain as domain, password, '/usr/mailboxes/'||domain||'/'||localpart||'/' as userdb_home, \
  {{ dovecot_vmail_uid }} AS userdb_uid, \
  {{ dovecot_vmail_gid }} AS userdb_gid \
  FROM users WHERE lower(localpart||'@'||domain) = '%Lu'

user_query = SELECT localpart AS user, \
  domain as domain, \
  '/usr/mailboxes/'||domain||'/'||localpart||'/' as home, \
  {{ dovecot_vmail_uid }} AS uid, \
  {{ dovecot_vmail_gid }} AS gid \
  FROM users WHERE lower(localpart||'@'||domain) = '%Lu'

iterate_query = SELECT localpart as username, domain FROM users
