####################################################################################
#   SSL settings
disable_plaintext_auth=yes
ssl=required
ssl_cert = <{{ certgrinder_home }}/certificates/{{ ansible_nodename }}-chain.rsa.crt
ssl_key = <{{ certgrinder_home }}/certificates/{{ ansible_nodename }}-keypair.rsa.key
ssl_alt_cert = <{{ certgrinder_home }}/certificates/{{ ansible_nodename }}-chain.ecdsa.crt
ssl_alt_key = <{{ certgrinder_home }}/certificates/{{ ansible_nodename }}-keypair.ecdsa.key
ssl_dh = <{{ dovecot_dhparam_path }}

####################################################################################
#   OS Settings

# UID/GIDs
mail_uid = {{ dovecot_vmail_username }}
mail_gid = {{ dovecot_vmail_groupname }}
mail_privileged_group = mail

# Syslog facility
syslog_facility = local3

# Show mailbox name in process title (in 'top')
verbose_proctitle = yes

####################################################################################
#   Misc. settings

# Default mail location
mail_location = maildir:%h/mail

# Autocreate and autosubscribe new mailboxes (created by sieve scripts delivering mail to them)
lda_mailbox_autocreate=yes
lda_mailbox_autosubscribe=yes

# Password DB (also returns userdb_ fields)
passdb {
  driver=sql
  args=/usr/local/etc/dovecot/dovecot-sql.conf
}

# We get all the userdb_ fields from the passdb query
userdb {
  driver = prefetch
}

# fallback userdb for lmtp and doveadm commands
userdb {
  driver=sql
  args=/usr/local/etc/dovecot/dovecot-sql.conf
}


####################################################################################
#   Protocols and listeners

# Enabled protocols
protocols = sieve lmtp imap

# Enabled AUTH mechanisms
auth_mechanisms = plain login

# SASL listener for postfix
service auth {
  inet_listener auth {
    address = *,[::]
    port = 12
  }
}

# LMTP listener for postfix
service lmtp {
  inet_listener lmtp {
    address = *,[::]
    port = 24
  }
  vsz_limit = 2048 M
}

service imap {
  vsz_limit = 2048 M
}

# disable plaintext imap port
service imap-login {
  inet_listener imap {
    port = 0
  }
  inet_listener imaps {
    port = 993
  }
}

# Listen on v4 and v6
listen = *,[::]

####################################################################################
#   Plugin settings
protocol lmtp {
  mail_plugins = sieve
}
plugin/sieve = %h/.dovecot.sieve
plugin/sieve_dir = %h/sieve

