server {
    listen                  {{ vhost_v4ip }}:443 ssl{% if item.value.default_vhost %} default{% endif %};
    listen                  [{{ item.value.vhost_v6ip }}]:443 ssl{% if item.value.default_vhost %} default{% endif %};
    server_name             {% for hostname in item.value.hostnames %}{{ hostname }} {% endfor %};

    ssl                     on;
    ssl_certificate         /usr/local/etc/letsencrypt/live/{{ item.value.hostnames[0] }}/fullchain.pem;
    ssl_certificate_key     /usr/local/etc/letsencrypt/live/{{ item.value.hostnames[0] }}/privkey.pem;

    include                 /usr/local/etc/nginx/tls.conf;

    proxy_set_header        X-Real-IP  $remote_addr;
    proxy_set_header        X-Forwarded-For $remote_addr;
    proxy_set_header        Host $host;
    # httpoxy mitigation
    proxy_set_header        Proxy "";

{{ item.value.locationslash | indent( width=4, indentfirst=True) }}
}
