// $FreeBSD: head/dns/bind910/files/named.conf.in 443607 2017-06-14 22:54:43Z mat $
// {{ ansible_managed }}

options {
        directory       "/usr/local/etc/namedb/working";
        pid-file        "/var/run/named/pid";
        dump-file       "/var/dump/named_dump.db";
        statistics-file "/var/stats/named.stats";

        listen-on       port 53 { any; };
        listen-on-v6    port 53 { any; };
        listen-on       port 5353 { any; };
        listen-on-v6    port 5353 { any; };

        server-id hostname;

        query-source address {{ bind_v4_source_ip }};
        query-source-v6 address {{ bind_v6_source_ip }};

        disable-empty-zone "255.255.255.255.IN-ADDR.ARPA";
        disable-empty-zone "0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.IP6.ARPA";
        disable-empty-zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.IP6.ARPA";

        dnssec-validation auto;

        allow-query { any; };
        allow-query-cache { any; };

        recursive-clients 10000;
        tcp-clients 1000;
{% if bind_max_cache_size %}
        max-cache-size {{ bind_max_cache_size }};
{% endif %}

{% if bind_dampening %}
        dampening {
                IPv4-prefix-length 32;
                report-interval 60;
                min-table-size 50000;
                max-table-size 60000;
                exempt-clients {
                        127.0.0.1;
                        ::1;
                        {% for client in bind_dampening_exempt_clients %}{{ client.ip }}; // {{ client.comment }}
                        {% endfor %}};
                score-qtype-any 2000;
                score-duplicates 1000;
        };
{% endif %}
};

statistics-channels {
    inet 127.0.0.1 port 8080 allow { 127.0.0.1; };
};

view "unicast" {
    match-destinations { {{ bind_v4_source_ip }}; {{ bind_v6_source_ip }};  };
    attach-cache "public";
    // slave root zones from icanns axfr servers
    zone "." {
        type slave;
        file "/usr/local/etc/namedb/slave/unicast-root.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/unicast-arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "in-addr.arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/unicast-in-addr.arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "ip6.arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/unicast-ip6.arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    // include empty zones
    include "../named-zones.conf";
};

{% if bind_anycast %}
view "anycast" {
    match-destinations { {{ bind_v4_anycast_ip }}; {{ bind_v6_anycast_ip }};  };
    attach-cache "public";
    // slave root zones from icanns axfr servers
    zone "." {
        type slave;
        file "/usr/local/etc/namedb/slave/anycast-root.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/anycast-arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "in-addr.arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/anycast-in-addr.arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "ip6.arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/anycast-ip6.arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    // include empty zones
    include "../named-zones.conf";
};
{% endif %}

view "localhost" {
    match-destinations { 127.0.0.1; ::1; };
    attach-cache "public";
    // slave root zones from icanns axfr servers
    zone "." {
        type slave;
        file "/usr/local/etc/namedb/slave/localhost-root.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/localhost-arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "in-addr.arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/localhost-in-addr.arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    zone "ip6.arpa" {
        type slave;
        file "/usr/local/etc/namedb/slave/localhost-ip6.arpa.slave";
        masters {
            192.0.32.132;           // lax.xfr.dns.icann.org
            2620:0:2d0:202::132;    // lax.xfr.dns.icann.org
            192.0.47.132;           // iad.xfr.dns.icann.org
            2620:0:2830:202::132;   // iad.xfr.dns.icann.org
        };
        notify no;
    };
    // include empty zones
    include "../named-zones.conf";
};

logging {
    channel channel_local0 {
        syslog local0;
    };
    channel channel_local1 {
        syslog local1;
    };

    channel channel_local2 {
        syslog local2;
    };

    channel channel_local3 {
        syslog local3;
    };

    category default { channel_local0; };
    category client { null; };
    category cname { null; };
    category config { null; };
    category database { null; };
    category dampening { channel_local3; };
    category delegation-only { null; };
    category dispatch { null; };
    category dnssec { null; };
    category dnstap { null; };
    category edns-disabled { null; };
    category general { channel_local1; };
    category lame-servers { null; };
    category network { null; };
    category notify { null; };
    category query-errors { null; };
    category queries { null; };
    category rate-limit { null; };
    category resolver { null; };
    category rpz { null; };
    category security { channel_local2; };
    category spill { null; };
    category unmatched { null; };
    category update { null; };
    category update-security { null; };
    category xfer-in { null; };
    category xfer-out { null; };
};

