{
        "Dhcp4": {
                "interfaces-config": {
                        "interfaces": ["{{ kea_interface }}"],
                        "dhcp-socket-type": "udp"
                },
                "lease-database": {
                        "type": "{{ kea_dbtype }}",
                        "name": "{{ kea_dbname }}",
                        "host": "{{ kea_dbhost }}",
                        "user": "{{ kea_dbuser }}",
                        "password": "{{ kea_dbpass }}"
                },
                "expired-leases-processing": {
                        "reclaim-timer-wait-time": 10,
                        "flush-reclaimed-timer-wait-time": 25,
                        "hold-reclaimed-time": 3600,
                        "max-reclaim-leases": 100,
                        "max-reclaim-time": 250,
                        "unwarned-reclaim-cycles": 5
                },
                "valid-lifetime": 3600,
                "option-def": {{ kea_optiondef | to_nice_json(indent=8) }},
                "subnet4": {{ kea_subnet4 | to_nice_json(indent=8) }}
        },
        "Logging": {
                "loggers": [{
                                "name": "kea-dhcp4",
                                "output_options": [{
                                        "output": "syslog"
                                }],
                                "severity": "INFO",
                                "debuglevel": 0
                        },
                        {
                                "name": "kea-dhcp6",
                                "output_options": [{
                                        "output": "syslog"
                                }],
                                "severity": "INFO",
                                "debuglevel": 0
                        },
                        {
                                "name": "kea-dhcp-ddns",
                                "output_options": [{
                                        "output": "syslog"
                                }],
                                "severity": "INFO",
                                "debuglevel": 0
                        }
                ]
        }
}

