
# dhcpd.conf

default-lease-time 8640;
max-lease-time 86400;
ddns-update-style none;
authoritative;
log-facility local7;

# omapi
omapi-port 7911;
omapi-key omapi_key;
key omapi_key {
     algorithm hmac-md5;
     secret {{ isc_dhcpd_peer_key }};
}


{% if isc_dhcpd_secondary_peer | default(False) %}
# failover
failover peer "failover-partner" {
    primary;
    address {{ ansible_host }};
    port 519;
    peer address {{ isc_dhcpd_secondary_peer }};
    peer port 520;
    max‐response‐delay 60;
    max‐unacked‐updates 10;
    mclt 3600;
    split 128;
    load balance max seconds 3;
}
{% endif %}
{% if isc_dhcpd_primary_peer | default(False) %}
failover peer "failover-partner" {
    secondary;
    address {{ ansible_host }};
    port 520;
    peer address {{ isc_dhcpd_primary_peer }};
    peer port 519;
    max‐response‐delay 60;
    max‐unacked‐updates 10;
    load balance max seconds 3;
}
{% endif %}

######### OPTIONS ####################
{{ isc_dhcpd_options }}


######### SUBNETS ####################
# Define an empty subnet for the DHCP servers local network
subnet 185.96.180.192 netmask 255.255.255.224 {
}

{{ isc_dhcpd_subnets }}


