
# dhcpd.conf

ignore-client-uids true;
default-lease-time 8640;
max-lease-time 86400;
ddns-update-style none;
authoritative;
log-facility local6;

{% if isc_dhcpd_primary_peer | default(False) or isc_dhcpd_secondary_peer | default(False) %}
# omapi
omapi-port 7911;
omapi-key omapi_key;
key omapi_key {
     algorithm hmac-md5;
     secret {{ isc_dhcpd_peer_key }};
}
{% endif %}

{% if isc_dhcpd_secondary_peer | default(False) %}
# failover configuration, this server is primary
failover peer "failover-partner" {
    primary;
    address {{ ansible_nodename }};
    port 647;
    peer address {{ isc_dhcpd_secondary_peer }};
    peer port 847;
    max-response-delay 60;
    max-unacked-updates 10;
    load balance max seconds 65535;
    mclt 3600;
    split 128;
}
{% endif %}
{% if isc_dhcpd_primary_peer | default(False) %}
# failover configuration, this server is secondary
failover peer "failover-partner" {
    secondary;
    address {{ ansible_nodename }};
    port 847;
    peer address {{ isc_dhcpd_primary_peer }};
    peer port 647;
    max-response-delay 60;
    max-unacked-updates 10;
    load balance max seconds 65535;
}
{% endif %}

######### OPTIONS ####################
{{ isc_dhcpd_options }}


######### SUBNETS ####################
# Define an empty subnet for the DHCP servers local network
subnet {{ ansible_default_ipv4.network }} netmask {{ ansible_default_ipv4.netmask }} {
}

{{ isc_dhcpd_subnets }}


