# {{ item.name }}
# {{ item.description }}

{% if item.cloned is defined and item.cloned %}
# add interface to cloned_interfaces
cloned_interfaces="${cloned_interfaces} {{ item.interface }}"
{% endif %}
{% if item.vlan is defined %}
{% set interface = item.interface ~ "_" ~ item.vlan %}
# create the VLAN interface
vlans_{{ item.interface }}="${vlans_{{ item.interface }}} {{ item.vlan }}"
{% else %}
{% set interface = item.interface %}
{% endif %}

{% if item.lacp is defined %}
# configure lagg (LACP) on the interface
ifconfig_{{ interface }}="$ifconfig_{{ interface }} laggproto {{ item.lacp.laggproto }} {% for port in item.lacp.laggports %}laggport {{ port }} {% endfor %}"
# UP the individual lagg members
{% for port in item.lacp.laggports %}
ifconfig_{{ port }}="UP -vlanhwtso -tso -lro"
{% endfor %}
{% endif %}

{% if item.ips is defined %}
{% if item.ips[inventory_hostname_short].v4ip is defined %}
# configure ipv4 on the interface
ifconfig_{{ interface }}="inet {{ item.ips[inventory_hostname_short].v4ip }}/{{ item.v4net.split("/")[1] }} -vlanhwtso -tso -lro"
{% endif %}
{% if item.ips[inventory_hostname_short].v6ip is defined %}
# configure ipv6 on the interface
ifconfig_{{ interface }}_ipv6="inet6 {{ item.ips[inventory_hostname_short].v6ip }}/{{ item.v6net.split("/")[1] }} -vlanhwtso -tso -lro"
{% endif %}

{% if 'carp' in item.ips %}
{% if item.ips["carp"].v4ip is defined %}
# configure CARP v4 on the interface
ifconfig_{{ interface }}_aliases="${ifconfig_{{ interface }}_aliases} group carp inet vhid {{ item.ips['carp'].vhid }} advskew {{ item.ips[inventory_hostname_short].advskew }} pass {{ vlan_carp_password }} {{ item.ips['carp'].v4ip }}/{{ item.v4net.split("/")[1] }}"
{% endif %}
{% if item.ips["carp"].v6ip is defined %}
# configure CARP v6 on the interface
ifconfig_{{ interface }}_aliases="${ifconfig_{{ interface }}_aliases} group carp inet6 vhid {{ item.ips['carp'].vhid }} advskew {{ item.ips[inventory_hostname_short].advskew }} pass {{ vlan_carp_password }} {{ item.ips['carp'].v6ip }}/{{ item.v6net.split("/")[1] }}"
{% endif %}
{% endif %}
{% endif %}

