---
- include_vars: "/usr/local/etc/ansible/host_vars/{{ ansible_nodename }}-secrets.yml"
  tags:
    - always

- name: "Install letsencrypt client"
  pkgng:
    name: "py27-certbot"
    state: "present"

- name: "Create letsencrypt account config directory"
  file:
    owner: "root"
    group: "wheel"
    mode: "600"
    path: "/usr/local/etc/letsencrypt/accounts/{{ letsencrypt_server }}/directory/{{ letsencrypt_account_hash }}"
    state: "directory"

- name: "Create letsencrypt meta.json"
  copy:
    owner: "root"
    group: "wheel"
    mode: "600"
    content: "{{ letsencrypt_meta_json }}"
    dest: "/usr/local/etc/letsencrypt/accounts/{{ letsencrypt_server }}/directory/{{ letsencrypt_account_hash }}/meta.json"

- name: "Create letsencrypt private_key.json"
  copy:
    owner: "root"
    group: "wheel"
    mode: "600"
    content: "{{ letsencrypt_private_key_json }}"
    dest: "/usr/local/etc/letsencrypt/accounts/{{ letsencrypt_server }}/directory/{{ letsencrypt_account_hash }}/private_key.json"

- name: "Create letsencrypt regr.json"
  copy:
    owner: "root"
    group: "wheel"
    mode: "600"
    content: "{{ letsencrypt_regr_json }}"
    dest: "/usr/local/etc/letsencrypt/accounts/{{ letsencrypt_server }}/directory/{{ letsencrypt_account_hash }}/regr.json"

- name: "Create letsencrypt webroot folder"
  file:
    owner: "root"
    group: "wheel"
    mode: "655"
    path: "{{ letsencrypt_webroot }}"
    state: "directory"

- name: "Create letsencrypt config file"
  template:
    src: "letsencrypt.ini.j2"
    dest: "/usr/local/etc/letsencrypt/letsencrypt.ini"

