---
- include_tasks: "debug.yml"
- include_tasks: "resolvconf.yml"
- include_tasks: "etchosts.yml"
- include_tasks: "pkg.yml"
  when: "poudriere_client"
  tags:
    - "pkgrepo"
- include_tasks: "python.yml"
- include_tasks: "packages.yml"
- include_tasks: "users.yml"
  tags:
    - "usermanagement"
- include_tasks: "ansible.yml"
  tags:
    - "ansiblekeys"
- include_tasks: "motd.yml"
- include_tasks: "sshd.yml"
- include_tasks: "syslog.yml"
- include_tasks: "etcaliases.yml"
- include_tasks: "nullmailer.yml"
  when: "'postfix_servers' not in group_names"
- include_tasks: "newsyslog.yml"
- include_tasks: "extra-cron.d-jobs.yml"
- include_role:
    name: "supervisord_server"
- include_role:
    name: "certgrinder_client"
- include_tasks: "exporter_exporter.yml"
- include_tasks: "node_exporter.yml"
- include_tasks: "node_exporter_textfile_collector_pkg.yml"
- include_tasks: "smokeping_prober.yml"
  when: prometheus_smokeping_targets is defined
