worker_processes  {{ nginx_worker_processes }};
error_log syslog:server=unix:/var/run/log;
error_log /usr/local/www/logs/error.log;

events {
    worker_connections  {{ nginx_worker_connections }};
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$host - $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" - $request_time sec - request_id $http_x_request_id';

    sendfile        off;
    keepalive_timeout  65;
    client_max_body_size        100m;

    server {
        listen       80;

        set_real_ip_from   {{ nginx_v4_proxy_ip }};
        real_ip_header     X-Forwarded-For;

        access_log syslog:server=unix:/var/run/log main;
        access_log /usr/local/www/logs/access.log  main;

        uwsgi_buffers 256 4k;

{{ nginx_locationslash | indent( width=8, indentfirst=True) }}
    }
}

