---
- name: "Install php"
  pkgng:
    name: "php74"
    state: "present"

- name: "Enable php-fpm"
  service:
    name: "php-fpm"
    enabled: yes
  notify: "reload php-fpm"

- name: "Copy php-fpm.conf"
  template:
    src: "php-fpm.conf.j2"
    dest: "/usr/local/etc/php-fpm.conf"
  notify: "reload php-fpm"

- name: "Create socket directory for php-fpm"
  file:
    dest: "{{ php_fpm_socket_path | dirname }}"
    state: "directory"
    owner: "www"
    group: "www"
    mode: "0700"
  notify: "reload php-fpm"

