export MB_DB_TYPE={{ metabase_db_type }}
export MB_DB_DBNAME={{ metabase_db_name }}
export MB_DB_PORT={{ metabase_db_port }}
export MB_DB_USER={{ metabase_db_user }}
export MB_DB_PASS={{ metabase_db_pass }}
export MB_DB_HOST={{ metabase_db_host }}

