#!/bin/sh
#
# Created by: Thomas Steen Rasmussen <thomas@gibfest.dk>
# $FreeBSD$
#

# PROVIDE: metabase
# REQUIRE: LOGIN
# KEYWORD: shutdown

#
# Add the following line to /etc/rc.conf to enable `metabase`:
#
# metabase_enable="YES"

. /etc/rc.subr
name=metabase

rcvar=metabase_enable
load_rc_config ${name}


: ${metabase_enable:=NO}
: ${metabase_user:="metabase"}
: ${metabase_group:="metabase"}
: ${metabase_conf:="/usr/local/etc/metabase.conf"}
: ${metabase_javaflags:=""}

if [ -f ${metabase_conf} ]; then
    . ${metabase_conf}
fi

pidfile="/var/run/metabase/${name}.pid"
procname=java
command="/usr/sbin/daemon"
command_args="-f -p ${pidfile} {{ metabase_java_binary }} ${metabase_javaflags} -jar /usr/local/lib/metabase.jar"
start_precmd=start_precmd

start_precmd()
{
	if [ ! -e /var/run/metabase ] ; then
		install -d -o {{ metabase_user }} -g {{ metabase_group }} /var/run/metabase;
	fi
}

run_rc_command "$1"

