---
- name: "Install gstat_exporter"
  pkgng:
    name: "py{{ python_nodotversion }}-gstat_exporter-20191119"
    state: "present"
  notify: "restart gstat_exporter"

- name: "Create supervisord.d config file to run gstat_exporter"
  include_role:
    name: "supervisord_server"
    tasks_from: "supervisord.d"
  vars:
    supervisord_filename: "gstat_exporter"
    supervisord_programs:
      - name: "gstat_exporter"
        comment: "run gstat_exporter"
        command: "/usr/local/bin/gstat_exporter.py"
        user: "nobody"
    supervisord_extra_programs: []

- name: "Create exporter_exporter.d config file for gstat_exporter"
  include_role:
    name: "freebsd_base"
    tasks_from: "exporter_exporter.d"
  vars:
    expexp_filename: "gstat_exporter.yml"
    expexp_program:
      method: "http"
      http:
        port: 9248
