---
- name: "Copy uwsgi config file"
  template:
    src: "uwsgi.ini.j2"
    dest: "/usr/local/etc/uwsgi.ini"
    mode: "0644"
  notify: "restart uwsgi"

- name: "Create uwsgi socket directory"
  file:
    path: "/var/run/uwsgi"
    state: "directory"
    mode: "0755"
    owner: "www"
    group: "www"

