# requires patch from https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=261036 to work

{% set ns = namespace(prestart=0, created=0, start=0) %}
# add this jail to the jail list
jail_list="$jail_list {{ jailname }}"

# hostname and jail root
jail_{{ jailname }}_hostname="{{ jail.hostname }}"
jail_{{ jailname }}_rootdir="{% if jail.root is defined %}jail.root{% else %}{{ jail_root }}/{{ jail.hostname }}{% endif %}"

{% if jail.devfs_ruleset is defined %}
# devfs
jail_{{ jailname }}_devfs_enable="YES"
jail_{{ jailname }}_devfs_ruleset="{{ jail.devfs_ruleset }}"

{% endif %}
{% if jail.enforce_statfs is defined %}
# statfs
jail_{{ jailname }}_enforce_statfs="{{ jail.enforce_statfs }}"

{% endif %}
{% if jail.allow_mount_zfs is defined %}
# allow zfs
jail_{{ jailname }}_mount_enable="{{ jail.allow_mount_zfs }}"
jail_{{ jailname }}_mount_zfs_enable="{{ jail.allow_mount_zfs }}"

{% endif %}
{% if jail.parameters is defined %}
# custom jail parameters
jail_{{ jailname }}_parameters="{% for k,v in jail.parameters.items() %}{{ k }}={{ v }} {% endfor %}"

{% endif %}
# epair interface(s)
jail_{{ jailname }}_vnet_interface="{% for interface in jail.interfaces %}epair{{ interface.epair }}b {% endfor %}"

### prestart section (runs on host before creation)
# create epair interfaces
{% for interface in jail.interfaces %}
jail_{{ jailname }}_exec_prestart{{ ns.prestart }}="ifconfig epair{{ interface.epair }}a destroy 2>/dev/null || true"
jail_{{ jailname }}_exec_prestart{{ ns.prestart + 1 }}="ifconfig epair{{ interface.epair }} create up"
jail_{{ jailname }}_exec_prestart{{ ns.prestart + 2 }}="ifconfig epair{{ interface.epair }}a up description '{{ jail.hostname }} interface jail{{ loop.index0 }}'"
jail_{{ jailname }}_exec_prestart{{ ns.prestart + 3 }}="ifconfig {{ interface.bridge }} addm epair{{ interface.epair }}a up"
{% set ns.prestart = ns.prestart + 4 %}
{% endfor %}

### created section (runs on host after creation)
{% if jail.zfs_datasets is defined %}
# configure zfs datasets
{% for zfs in jail.zfs_datasets %}
jail_{{ jailname }}_exec_created{{ ns.created }}="zfs set jailed=on {{ zfs }}"
jail_{{ jailname }}_exec_created{{ ns.created + 1 }}="zfs jail {{ jailname }} {{ zfs }}"
{% set ns.created = ns.created + 2 %}
{% endfor %}
{% endif %}


### start section (runs inside jail)
### not using emN because https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=260973
{% for interface in jail.interfaces %}
{% set ifloop = loop %}
# interface jail{{ loop.index0 }}
jail_{{ jailname }}_exec_start{{ ns.start }}="ifconfig epair{{ interface.epair }}b name jail{{ ifloop.index0 }}"
{% if interface.ifconfig_inet is defined %}
# ipv4 for jail{{ loop.index0 }}
{% if interface.ifconfig_inet is string %}
{% set ns.start = ns.start + 1 %}
jail_{{ jailname }}_exec_start{{ ns.start }}="ifconfig jail{{ ifloop.index0 }} {{ interface.ifconfig_inet }}"
{% else %}
{% for ifconfig in interface.ifconfig_inet %}
{% set ns.start = ns.start + 1 %}
jail_{{ jailname }}_exec_start{{ ns.start }}="ifconfig jail{{ ifloop.index0 }} {{ ifconfig }}"
{% endfor %}
{% endif %}
{% endif %}
{% if interface.ifconfig_inet6 is defined %}
# ipv6 for jail{{ loop.index0 }}
{% if interface.ifconfig_inet6 is string %}
{% set ns.start = ns.start + 1 %}
jail_{{ jailname }}_exec_start{{ ns.start }}="ifconfig jail{{ ifloop.index0 }} inet6 {{ interface.ifconfig_inet6 }}"
{% else %}
{% for ifconfig in interface.ifconfig_inet6 %}
{% set ns.start = ns.start + 1 %}
jail_{{ jailname }}_exec_start{{ ns.start }}="ifconfig jail{{ ifloop.index0 }} inet6 {{ ifconfig }}"
{% endfor %}
{% endif %}
{% endif %}
{% if jail.zfs_datasets is defined %}
{% set ns.start = ns.start + 1 %}
jail_{{ jailname }}_exec_start{{ ns.start }}="zfs mount -a "
{% endif %}

{% endfor %}

# static routes
{% for route in jail.routes %}
{% set ns.start = ns.start + 1 %}
jail_{{ jailname }}_exec_start{{ ns.start }}="route add {{ route }}"
{% endfor %}

{% for es in jail.extrastart|default([]) %}
{% set ns.start = ns.start + 1 %}
jail_{{ jailname }}_exec_start{{ ns.start }}="{{ es }}"
{% endfor %}

### poststop section (runs on host)
{% for interface in jail.interfaces %}
jail_{{ jailname }}_exec_poststop{{ loop.index0 }}="ifconfig {{ interface.bridge }} deletem epair{{ interface.epair }}a && ifconfig epair{{ interface.epair }}a destroy"
{% endfor %}
