# add this jail to the jail list
jail_list="$jail_list {{ jailname }}"

# hostname and jail root
jail_{{ jailname }}_hostname="{{ jail.hostname }}"
jail_{{ jailname }}_rootdir="{% if jail.root is defined %}jail.root{% else %}{{ jail_root }}/{{ jail.hostname }}{% endif %}"

{% if jail.devfs_ruleset is defined %}
# devfs
jail_{{ jailname }}_devfs_enable="YES"
jail_{{ jailname }}_devfs_ruleset="{{ jail.devfs_ruleset }}"

{% endif %}
{% if jail.parameters is defined %}
# custom jail parameters
jail_{{ jailname }}_parameters="{% for k,v in jail.parameters.items() %}{{ k }}={{ v }} {% endfor %}"

{% endif %}

# epair interface(s)
jail_{{ jailname }}_vnet_interface="{% for interface in jail.interfaces %}epair{{ interface.epair }}b {% endfor %}"

# prestart section (runs on host)
{% for interface in jail.interfaces %}
jail_{{ jailname }}_exec_prestart{{ loop.index0 }}="ifconfig epair{{ interface.epair }}a destroy 2>/dev/null || true && ifconfig epair{{ interface.epair }} create up && ifconfig epair{{ interface.epair }}a up && ifconfig {{ interface.bridge }} addm epair{{ interface.epair }}a up"
{% endfor %}

# start section (runs inside jail)
# not using emN because https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=260973
{% for interface in jail.interfaces %}
jail_{{ jailname }}_exec_start{{ loop.index0 }}="/sbin/ifconfig epair{{ interface.epair }}b name jail{{ loop.index0 }}{% if interface.ifconfig_inet is defined %} && ifconfig jail{{ loop.index0 }} {{ interface.ifconfig_inet }}{% endif %}{% if interface.ifconfig_inet6 is defined %} && ifconfig jail{{ loop.index0 }} inet6 {{ interface.ifconfig_inet6 }}{% endif %}"
{% endfor %}
{% for route in jail.routes %}
jail_{{ jailname }}_exec_start{{ loop.index0 + jail.interfaces|length }}="route add {{ route }}"
{% endfor %}

# poststop section (runs on host)
{% for interface in jail.interfaces %}
jail_{{ jailname }}_exec_poststop{{ loop.index0 }}="ifconfig {{ interface.bridge }} deletem epair{{ interface.epair }}a && ifconfig epair{{ interface.epair }}a destroy"
{% endfor %}
