---
- name: "Install node"
  pkgng:
    name: "node"
    state: "present"

- name: "Install npm"
  pkgng:
    name: "npm"
    state: "present"

- name: "Install git"
  pkgng:
    name: "git"
    state: "present"
  
- name: "add etherpad user"
  user:
    name: "etherpad"
    comment: "etherpad user"
    home: "{{ etherpad_home }}"

- name: "Get etherpad-lite code from git"
  git:
    repo: "git://github.com/ether/etherpad-lite.git"
    dest: "{{ etherpadlite_root }}"
    version: "1.6.3"

- name: "Copy etherpad-lite config"
  template:
    src: "settings.json.j2"
    dest: "{{ etherpadlite_root }}/settings.json"

- name: "fix ownership and permissions of etherpad-lite folder"
  file:
    path: "{{ etherpadlite_root }}"
    owner: "etherpad"
    group: "etherpad"
    recurse: yes

