---
- name: "add grist user"
  user:
    name: "grist"
    comment: "grist-core user"
    home: "{{ grist_home }}"

- name: "Install git"
  pkgng:
    name: "git"
    state: "present"

- name: "Get source code for grist-core"
  git:
    repo: "https://github.com/gristlabs/grist-core.git"
    dest: "{{ grist_home }}/grist-core"
    force: yes
    version: "{{ grist_core_version }}"
  register: gitresult

- name: "Install yarn package manager"
  pkgng:
    name: "yarn"
    state: "present"
  register: yarnresult
  when: gitresult.changed

- name: "Install gmake to build grist-core"
  pkgng:
    name: "gmake"
    state: "present"
  register: gmakeresult
  when: gitresult.changed

- name: "Building and installing grist-core: yarn install"
  command:
    cmd: "yarn install --ignore-engines"
    chdir: "{{ grist_home }}/grist-core"
  when: gitresult.changed

- name: "Building and installing grist-core: yarn run build:prod"
  command:
    cmd: "yarn run build:prod"
    chdir: "{{ grist_home }}/grist-core"
  when: gitresult.changed

- name: "Building and installing grist-core: yarn run install:python"
  command:
    cmd: "yarn run install:python"
    chdir: "{{ grist_home }}/grist-core"
  when: gitresult.changed

- name: "Remove gmake build dep if we installed it"
  pkgng:
    name: "gmake"
    state: "absent"
  when:
    - gitresult.changed
    - gmakeresult.changed

- name: "Remove yarn build dep if we installed it"
  pkgng:
    name: "yarn"
    state: "absent"
  when:
    - gitresult.changed
    - yarnresult.changed
