---
- name: "Install build dependencies for nipapd"
  pkgng:
    name: "{{ item }}"
    state: "present"
  with_items:
    - "py27-docutils"
    - "py27-sqlite3"

- name: "Get nipap-www code from git"
  git:
    repo: "git://github.com/tykling/NIPAP.git"
    dest: "{{ nipap_checkout_path }}"
    version: "freebsd-support"
  ignore_errors: True

- name: "make and install nipap python module"
  shell: 'make install'
  args:
    chdir: "{{ nipap_checkout_path }}/nipap"
    executable: "/usr/local/bin/bash"
    creates: "/usr/local/lib/python2.7/site-packages/nipap"

- name: "make and install nipap-www if needed"
  shell: 'make install'
  args:
    chdir: "{{ nipap_checkout_path }}/nipap-www"
    executable: "/usr/local/bin/bash"
    creates: "/usr/local/lib/python2.7/site-packages/nipap_www-0.29.6-py2.7.egg/nipapwww"

- name: "Fix permissions of /var/cache/nipap-www/"
  file:
    dest: "/var/cache/nipap-www"
    owner: "nipap"
    group: "nipap"
    mode: "0700"

- name: "Install nipap-www config file"
  template:
    src: "nipap-www.ini.j2"
    dest: "/usr/local/etc/nipap/nipap-www.ini"
    owner: "nipap"
    group: "nipap"
    mode: "0600"

- name: "Install nipapd config file for nipap-www"
  template:
    src: "nipapd.conf.j2"
    dest: "/usr/local/etc/nipap/nipapd.conf"
    owner: "nipap"
    group: "nipap"
    mode: "0600"

- name: "create /var/db/nipap/"
  file:
    dest: "/var/db/nipap/"
    state: "directory"
    mode: "0700"
    owner: "nipap"
    group: "nipap"

- name: "Create local auth db if needed"
  command: "/usr/local/sbin/nipap-passwd -c /usr/local/etc/nipap/nipapd.conf create-database"
  args:
    creates: "/var/db/nipap/local_auth.db"

- name: "Fix permissions of /var/db/nipap/local_auth.db"
  file:
    dest: "/var/db/nipap/local_auth.db"
    state: "file"
    mode: "0600"
    owner: "nipap"
    group: "nipap"

