server:
        verbosity: 1
        port: 53
        access-control: 0.0.0.0/0 allow
        auto-trust-anchor-file: "/usr/local/etc/unbound/root.key"
        prefetch: yes
        qname-minimisation: yes

