server:
        verbosity: 1
        port: 53
        access-control: 0.0.0.0/0 allow_snoop
        access-control: ::/0 allow_snoop
        auto-trust-anchor-file: "/usr/local/etc/unbound/root.key"
        prefetch: yes
        qname-minimisation: yes

        # cache size
        rrset-cache-size: 512m
        msg-cache-size: 256m
        so-rcvbuf: 1m
        key-cache-size: 128m
        neg-cache-size: 128m

{% if unbound_extra_config is defined %}
{{ unbound_extra_config }}
{% endif %}

