global:
  scrape_interval: '15s'
  external_labels:
    monitor: '{{ prometheus_monitor_name }}'

rule_files:
  - "/usr/local/etc/prometheus-rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
{% for target in prometheus_alertmanager_targets %}
          - "{{ target }}"
{% endfor %}

scrape_configs:
  - job_name: 'prometheus self-scrape'
    scrape_interval: '5s'
    static_configs:
      - targets:
        - 'localhost:9090'

{% for job in prometheus_scrape_configs %}
  - job_name: "{{ job.name }}"
{% if job.targets is defined %}
    static_configs:
      - targets:
{% for target in job.targets %}
        - "{{ target }}"
{% endfor %}
{% endif %}
{% if job.file_sd_configs is defined %}
    file_sd_configs:
      - files:
{% for file in job.file_sd_configs %}
        - "{{ file }}"
{% endfor %}
{% endif %}
{% if job.labels is defined %}
        labels:
{% for key, value in job.labels.iteritems() %}
          "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
{% if job.metrics_path is defined %}
    metrics_path: "{{ job.metrics_path }}"
{% endif %}
    scheme: "{{ job.scheme|d("https") }}"
{% if job.relabel_configs is defined %}
    relabel_configs:
{{ job.relabel_configs | to_nice_yaml(indent=2) | indent(6,False) }}
{% endif %}
{% endfor %}

