global:
  scrape_interval: '15s'
  external_labels:
    monitor: '{{ prometheus_monitor_name }}'

rule_files:
  - "/usr/local/etc/prometheus-rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
{% for target in prometheus_alertmanager_targets %}
          - "{{ target }}"
{% endfor %}

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: '5s'
    static_configs:
      - targets:
        - 'localhost:9090'

{% for job in prometheus_scrape_configs %}
  - job_name: "{{ job.name }}"
    static_configs:
      - targets:
{% for target in job.targets %}
        - "{{ target }}"
{% endfor %}
{% if job.labels is defined %}
        labels:
{% for key, value in job.labels.iteritems() %}
          "{{ key }}": "{{ value }}"
{% endfor %}
{% endif %}
    metrics_path: "{{ job.metrics_path }}"
    scheme: "{{ job.scheme|d("https") }}"
{% endfor %}
