import os
BASE_DIR = os.path.dirname(os.path.dirname(__file__))

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ django_secret_key }}'

# debug settings - remember to set allowed_hosts if debug is disabled
DEBUG = False
ALLOWED_HOSTS = {{ django_allowed_hostnames }}

# Database
# https://docs.djangoproject.com/en/1.9/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ postgres_dbname }}',
        'USER': '{{ postgres_user }}',
        'PASSWORD': '{{ postgres_password }}',
        'HOST': '{{ postgres_host }}',
        'PORT': '{{ postgres_port }}',
    }
}

# admin site prefix
ADMIN_PREFIX='{{ django_admin_site_prefix }}'
