#!/bin/sh

# update ports trees
for PORTSTREE in {% for portstree in poudriere_ports_trees %}{{ portstree.name }} {% endfor %}; do
    echo "************************** UPDATING PORTS TREE $PORTSTREE ********************************"
    /usr/local/bin/poudriere ports -u -p $PORTSTREE
done

# update jails
for JAIL in {% for arch in poudriere_jail_architechtures %}{% for jail in poudriere_jail_versions %}freebsd_{{ jail['versiontag'] }}_{{ arch }} {% endfor %}{% endfor %}; do
    echo "************************** UPDATING JAIL $JAIL ********************************"
    # update jail
    /usr/local/bin/poudriere jail -u -j $JAIL

    # build everything
{% for portlist in poudriere_portlists %}
    echo "************************** BUILDING FOR JAIL \"$JAIL\" - SET \"DEFAULT\" - PORTLIST \"{{ portlist.filename }}\" - TREE \"{{ portlist.tree|default('default') }}\" ********************************"
    /usr/local/bin/poudriere bulk -j $JAIL -f /usr/local/etc/poudriere.d/{{ portlist.filename }} -p {{ portlist.tree|default('default') }}
{% endfor %}
done

echo "************************** DONE ********************************"

