rsa-key-size = 4096
#must-staple causes problems for dovecot, disabled for now
#must-staple = True
email = {{ letsencrypt_email }}
text = True
authenticator = webroot
webroot-path = /tmp/letsencrypt-auto
domains = {{ item.value.hostnames | join(",") }}
