hosts={{ postgres_host }}
user={{ postgres_user }}
password={{ postgres_password }}
dbname={{ postgres_dbname }}
query = SELECT COALESCE((SELECT action from access where '%s'::cidr <<= client and enabled = 't'), (select 'DUNNO' as action)) as action
