# network settings
inet_protocols = ipv4 ipv6

# local(8) settings
mynetworks_style = host
relay_domains  = {{ ansible_nodename }}
alias_maps = hash:/etc/aliases
transport_maps = texthash:/usr/local/etc/postfix/transport,pgsql:/usr/local/etc/postfix/transport.sql

# virtual(8) settings
virtual_transport = lmtp:inet:{{ lmtp_server_ip }}:{{ lmtp_server_port }}
virtual_alias_maps = {% if mailman %}texthash:/usr/local/etc/postfix/mailman_virtual_alias_maps, {% endif %}pgsql:/usr/local/etc/postfix/virtual_alias_maps.sql
virtual_alias_domains = pgsql:/usr/local/etc/postfix/virtual_alias_domains.sql
virtual_mailbox_domains = pgsql:/usr/local/etc/postfix/virtual_mailbox_domains.sql
virtual_mailbox_maps = pgsql:/usr/local/etc/postfix/virtual_mailbox_maps.sql
lmtp_destination_recipient_limit = 1
{% if mailman %}
mailman_destination_recipient_limit = 1
{% endif %}

# define a restriction class that just permits all mail,
# this restriction class can be used to accept mail from servers with internal hostnames
# which would otherwise be rejected by the spam checks.
smtpd_restriction_classes = relaxed
relaxed = permit

# smtpd_relay_restrictions for the smtp service rejects all relaying,
# except for overrides in access,
# and mynetworks so mailman can relay to nonlocal domains.
# master.cf softens this setting up for submission(s)
smtpd_relay_restrictions =
    check_client_access pgsql:/usr/local/etc/postfix/access.sql,
    permit_mynetworks,
    reject_unauth_destination

# smtpd_recipient_restrictions for the smtp service
smtpd_recipient_restrictions =
    check_client_access pgsql:/usr/local/etc/postfix/access.sql,
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_invalid_helo_hostname,
    reject_non_fqdn_helo_hostname,
    reject_non_fqdn_sender,
    reject_non_fqdn_recipient,
    reject_unknown_client_hostname,
    reject_unknown_sender_domain,
    reject_unknown_recipient_domain,
    reject_unauth_pipelining,
    reject_rbl_client zen.spamhaus.org,
    reject_rhsbl_helo dbl.spamhaus.org,
    reject_rhsbl_client dbl.spamhaus.org,
    reject_rhsbl_sender dbl.spamhaus.org,
    reject_unauth_destination

# TLS settings
tls_preempt_cipherlist = yes
smtpd_tls_chain_files = {{ certgrinder_home }}/certificates/{{ ansible_nodename }}-concat.rsa.pem, {{ certgrinder_home }}/certificates/{{ ansible_nodename }}-concat.ecdsa.pem
smtpd_tls_auth_only = yes
smtpd_tls_received_header = yes
smtpd_tls_security_level = may
smtpd_tls_mandatory_protocols = >=TLSv1.2
smtpd_tls_loglevel = 1
smtp_tls_CAfile = /etc/ssl/cert.pem
smtp_tls_session_cache_database = btree:/var/db/postfix/smtp_tls_session_cache
smtp_tls_security_level = may
smtp_tls_loglevel = 1
smtp_tls_mandatory_protocols = >=TLSv1.2
smtp_tls_protocols = >=TLSv1.2

# SASL/smtpd settings
smtpd_sasl_path = inet:[{{ sasl_server_ip }}]:{{ sasl_server_port }}
smtpd_sasl_auth_enable = yes
{% if postfix_sender_login_restriction %}
smtpd_sender_login_maps = pgsql:/usr/local/etc/postfix/smtpd_sender_login_maps.sql
smtpd_sender_restrictions = permit_mynetworks, reject_sender_login_mismatch
{% endif %}

{% if opendkim %}
# milters
smtpd_milters = unix:opendkim/opendkim.sock
non_smtpd_milters = $smtpd_milters
{% endif %}

# postfix 3.6 compat
compatibility_level=3.6

# mail size limit 100 megabytes
mailbox_size_limit=102400000
message_size_limit=102400000

# privacy cleanup service (to remove sensitive headers from submitted email)
privacy_cleanup_service_name = privacy_cleanup
privacy_header_checks = regexp:/usr/local/etc/postfix/privacy_header_checks.regexp

