hosts={{ postgres_host }}
user={{ postgres_user }}
password={{ postgres_password }}
dbname={{ postgres_dbname }}
query = SELECT virtual_mailbox_domains from (SELECT COALESCE((SELECT DISTINCT(domain) FROM virtual_alias_maps WHERE LOWER(domain) = LOWER('%s') and enabled = 't'), '') || COALESCE((SELECT DISTINCT(domain) FROM users WHERE LOWER(domain) = LOWER('%s') AND enabled = 't'), '') as virtual_mailbox_domains) as virtual_mailbox_domains where virtual_mailbox_domains <> '';

