; {{ item.comment }}
[{{ type }}:{{ item.name }}]
command={{ item.command }}
{% if item.directory is defined %}directory={{ item.directory }}
{% endif %}
{% if item.numprocs is defined and item.numprocs | int > 1 %}process_name=%(program_name)s_%(process_num)02d
{% endif %}
user={{ item.user }}
stdout_logfile=syslog
stderr_logfile=syslog
startsecs={{ item.startsecs | default(5) }}
{% if item.numprocs is defined and item.numprocs | int > 1 %}numprocs={{ item.numprocs | default(1) }}
{% endif %}
autostart={{ item.autostart | default(True) }}
{% if item.priority is defined %}priority={{ item.priority }}
{% endif %}

