[unix_http_server]
file=/var/run/supervisor/supervisor.sock ; supervisorctl management socket

[supervisorctl]
serverurl=unix:///var/run/supervisor/supervisor.sock ; supervisorctl management socket

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisord]
logfile={{ supervisord_activity_logfile }} ; syslog not supported here for now, see https://github.com/Supervisor/supervisor/pull/289
logfile_maxbytes=10485760                 ; 10 MB, only size based rotation is available
logfile_backups=30                        ; keep 30 files, compression not supported (big fucking surprise)
loglevel=info
pidfile=/var/run/supervisor/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200


{% if supervisord_programs is defined or supervisord_extra_programs is defined %}
;-----------------------------------------------------------------------------
; program: definitions below here

{% macro create_program_definitions(program_list) %}
{% for program in program_list | default([]) %}
; {{ program.comment }}
[program:{{ program.name }}]
command={{ program.command }}
{% if program.directory is defined %}directory={{ program.directory }}
{% endif %}
process_name=%(program_name)s_%(process_num)02d
user={{ program.user }}
stdout_logfile=syslog
stderr_logfile=syslog
numprocs={{ program.numprocs | default(1) }}

{% endfor %}
{% endmacro %}
{{ create_program_definitions(supervisord_programs | default([]) ) }}
{{ create_program_definitions(supervisord_extra_programs | default([])) }}

{% endif %}
{% if supervisord_fcgi_programs is defined %}
;-----------------------------------------------------------------------------
; fcgi-program: definitions below here

{% for program in supervisord_fcgi_programs | default([]) %}
; {{ program.comment }}
[fcgi-program:{{ program.name }}]
command={{ program.command }}
socket={{ program.socket }}
process_name=%(program_name)s_%(process_num)02d
user={{ program.user }}
stdout_logfile=syslog
stderr_logfile=syslog
numprocs={{ program.numprocs }}

{% endfor %}
{% endif %}

