; {{ item.comment }}
[{{ type }}:{{ item.name }}]
command={{ item.command }}
{% if item.directory is defined %}directory={{ item.directory }}
{% endif %}
{% if item.numprocs is defined and item.numprocs | int > 1 %}process_name=%(program_name)s_%(process_num)02d
{% endif %}
user={{ item.user }}
stdout_syslog=True
stderr_syslog=True
startsecs={{ item.startsecs | default(5) }}
{% if item.numprocs is defined and item.numprocs | int > 1 %}numprocs={{ item.numprocs | default(1) }}
{% endif %}
autostart={{ item.autostart | default(True) }}
{% if item.priority is defined %}priority={{ item.priority }}
{% endif %}
{% if item.exitcodes is defined %}exitcodes={{ item.exitcodes }}
{% endif %}
{% if item.socket is defined %}socket={{ item.socket }}
{% endif %}
{% if item.startretries is defined %}startretries={{ item.startretries }}
{% endif %}
{% if item.stopwaitsecs is defined %}stopwaitsecs={{ item.stopwaitsecs }}
{% endif %}
{% if item.stopsignal is defined %}stopsignal={{ item.stopsignal }}
{% endif %}
{% if item.environment is defined %}environment={% for key, value in item.environment.items() %}{{ key }}="{{ value }}",{% endfor %}
{% endif %}
{% if item.stopasgroup is defined %}stopasgroup={{ item.stopasgroup }}
{% endif %}
{% if item.chdir is defined %}chdir={{ item.chdir }}
{% endif %}

