[unix_http_server]
file=/var/run/supervisor/supervisor.sock ; supervisorctl management socket

[supervisorctl]
serverurl=unix:///var/run/supervisor/supervisor.sock ; supervisorctl management socket

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisord]
logfile={{ supervisord_activity_logfile }} ; syslog not supported here for now, see https://github.com/Supervisor/supervisor/pull/289
logfile_maxbytes=10485760                 ; 10 MB, only size based rotation is available
logfile_backups=30                        ; keep 30 files, compression not supported (big fucking surprise)
loglevel=info
pidfile=/var/run/supervisor/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200

{% include "supervisord.d.conf.j2" %}

[include]
/usr/local/etc/supervisord.d/*.conf

