
                    This system is managed by Ansible. 
                                                              
                                                              
  '########::'########:'########::'####::::'###::::'##::: ##:
   ##.... ##: ##.....:: ##.... ##:. ##::::'## ##::: ###:: ##:
   ##:::: ##: ##::::::: ##:::: ##:: ##:::'##:. ##:: ####: ##:
   ##:::: ##: ######::: ########::: ##::'##:::. ##: ## ## ##:
   ##:::: ##: ##...:::: ##.... ##:: ##:: #########: ##. ####:
   ##:::: ##: ##::::::: ##:::: ##:: ##:: ##.... ##: ##:. ###:
   ########:: ########: ########::'####: ##:::: ##: ##::. ##:
  ........:::........::........:::....::..:::::..::..::::..::
                                                              
                                                              
                                                              
          Hostname      : {{ ansible_nodename }}
          Uname         : {{ ansible_distribution_version }}
          Ansible Date  : {{ ansible_date_time.iso8601 }}

---------------------------------------------------------------------------------------------

