input {
  tcp {
    codec => "plain"
    mode => server
    port => 5000
    type => "syslog-relay"
  }
}


{% raw %}
{{ logstash_filters }}
{% endraw %}


output {
  # stdout { codec => rubydebug }
  elasticsearch { hosts => [ "127.0.0.1:9200" ] }
}

