database=/var/db/murmur/murmur.sqlite
dbus=session
icesecretwrite=
logfile=/var/log/murmur/murmur.log
pidfile=/var/run/murmur/murmur.pid
welcometext="{{ murmur_welcometext }}"
port=64738
host=0.0.0.0
serverpassword=
bandwidth=72000
users=100
sslCert=/usr/local/etc/letsencrypt/live/{{ item.value.hostnames[0] }}/fullchain.pem;
sslKey=/usr/local/etc/letsencrypt/live/{{ item.value.hostnames[0] }}/privkey.pem;
[Ice]
Ice.Warn.UnknownProperties=1
Ice.MessageSizeMax=65536
