database=/var/db/murmur/murmur.sqlite
dbus=session
icesecretwrite=
logfile=/var/log/murmur/murmur.log
pidfile=/var/run/murmur/murmur.pid
welcometext="{{ murmur_welcometext }}"
port=64738
host=0.0.0.0
serverpassword=
bandwidth=72000
users=100
sslCert=/usr/home/certgrinder/certificates/{{ ansible_nodename }}-chain.rsa.crt;
sslKey=/usr/home/certgrinder/certificates/{{ ansible_nodename }}-keypair.rsa.key;
[Ice]
Ice.Warn.UnknownProperties=1
Ice.MessageSizeMax=65536
