[retriever]
type = SimpleIMAPSSLRetriever
server = {{ item.imapserver }}
port = {{ item.imappport }}
username = {{ item.imapuser }}
password = {{ item.imappass }}

[destination]
type = MDA_external
path = /usr/local/bin/rt-mailgate
user = {{ getmail_user }}
group = {{ getmail_user }}
arguments = ("--url", "https://{{ rt_webhostname }}", "--queue", "{{ item.queuename }}", "--action", "{{ item.action }}",)

[options]
read_all = false
delete = true
verbose = 2

