# include defaults
defaults

# server info
account default
host {{ rt_smtp_host }}
port 587

# enable TLS
tls on
tls_trust_file /etc/ssl/cert.pem

# account
auth on
user {{ rt_smtp_user }}
password {{ rt_smtp_password }}

# this sets the envelope sender
from {{ rt_smtp_user }}

