---
- name: "Install syslog-ng"
  pkgng:
    name: "syslog-ng324"
    state: "present"

- name: "Copy syslog-ng.conf"
  template:
    src: "syslog-ng.conf.j2"
    dest: "/usr/local/etc/syslog-ng.conf"
  notify: "reload syslog-ng"

- name: "enable syslog-ng"
  service:
    name: "syslog-ng"
    enabled: yes

- name: "set syslog-ng pidfile path in /etc/rc.conf"
  sysrc:
    name: "syslog_ng_pid"
    value: "/var/run/syslog-ng.pid"
  notify: "reload syslog-ng"

