# Map $cors variable based on the Origin: header
# value being in the list
map "$http_origin" $cors {
  default '';
{% for origin in nginx_cors_origins %}
  "{{ origin }}" "$http_origin";
{% endfor %}
}
