server {
    # listen here you little..
{% if item.value.listen_on_all_ips | default(False) %}
    listen                  80{% if not item.value.redirect_ip_to_hostname | default(True) %} default{% endif %};
    listen                  [::]:80{% if not item.value.redirect_ip_to_hostname | default(True) %} default{% endif %};
{% else %}
    listen                  {{ nginx_v4_proxy_ip }}:80{% if not item.value.redirect_ip_to_hostname | default(True) %} default{% endif %};
{% if item.value.vhost_v6ip is defined %}
    listen                  [{{ item.value.vhost_v6ip }}]:80{% if not item.value.redirect_ip_to_hostname | default(True) %} default{% endif %};
{% endif %}
{% endif %}

    # hostnames handled in this vhost, IDN names are included both as idna and ascii, where applicable
    server_name             {% for hostname in item.value.hostnames %}{{ hostname.encode('idna').decode('ascii') }} {% if hostname != hostname.encode('idna').decode('ascii') %}{{ hostname }} {% endif %}{% endfor %};

{% if item.value.letsencrypt | default(True) %}
    # letsencrypt ACME redirect to Certgrinder server
    location '/.well-known/acme-challenge' {
          return 301 {{ certgrinder_redirect_url }}$request_uri;
    }
{% endif %}

{% if item.value.https_redirect | default(True) %}
    # https redirect
    location / {
        return              301 https://$host$request_uri;
    }
{% else %}
{% if item.value.reverse_proxy | default(True) %}
    # we are acting as a reverse proxy, include the proxy headers
    include                 /usr/local/etc/nginx/proxyheaders.conf;
{% endif %}
    # vhost specific config below here
{{ item.value.locationslash | indent( width=4, indentfirst=True) }}
{% endif %}
}

{% if item.value.redirect_ip_to_hostname | default(True) and ( item.value.default_vhost or item.value.vhost_v6ip ) %}
# catch-all server block for the requests going to the v6 IPs with blank or unknown Host: header,
# and to the v4 ip if this is the default vhost
server {
{% if item.value.listen_on_all_ips | default(False) %}
    # this vhosts wants to listen on ALL ips
{% if item.value.default_vhost | default(False) %}
    # this is the default vhost for this v4 ip
    listen                  80 default;
{% endif %}
    listen                  [::]:80 default;
{% else %}
    # this vhosts does not want to listen on ALL ips
{% if item.value.default_vhost | default(False) %}
    # this is the default vhost for this v4 ip
    listen                  {{ nginx_v4_proxy_ip }}:80 default;
{% endif %}
{% if item.value.vhost_v6ip is defined %}
    listen                  [{{ item.value.vhost_v6ip }}]:80 default;
{% endif %}
{% endif %}
    server_name             _;
    location / {
{% if item.value.redirect_keep_url | default(True) %}
        return              302 https://{{ item.value.hostnames[0] }}$request_uri;
{% else %}
        return              302 https://{{ item.value.hostnames[0] }};
{% endif %}
    }
}
{% endif %}

