server {
    listen                  {{ nginx_v4_proxy_ip }}:80{% if item.value.default_vhost | default(False) %} default{% endif %};
    listen                  [{{ item.value.vhost_v6ip }}]:80 default;
    server_name             {% for hostname in item.value.hostnames %}{{ hostname }} {% endfor %};

    {% if item.value.letsencrypt | default(True) %}
    location '/.well-known/acme-challenge' {
          return 301 {{ certgrinder_redirect_url }}$request_uri;
    }
    {% endif %}

    {% if item.value.https_redirect | default(True) %}
    location / {
        return              301 https://$host$request_uri;
    }
    {% else %}
    include                 /usr/local/etc/nginx/proxyheaders.conf;
{{ item.value.locationslash | indent( width=4, indentfirst=True) }}
    {% endif %}
}
