-- Client listeners
addLocal('127.0.0.1')
addLocal('::1')

addTLSLocal('127.0.0.1', {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.rsa.crt', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.ecdsa.crt'}, {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.rsa.key', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.ecdsa.key'})
addTLSLocal('::1', {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.rsa.crt', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.ecdsa.crt'}, {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.rsa.key', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.ecdsa.key'})

addDOHLocal('127.0.0.1', {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.rsa.crt', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.ecdsa.crt'}, {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.rsa.key', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.ecdsa.key'})
addDOHLocal('::1', {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.rsa.crt', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-chain.ecdsa.crt'}, {'{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.rsa.key', '{{ certgrinder_home }}/certificates/{{ ansible_hostname }}-keypair.ecdsa.key'})

-- Upstream DNS servers
{% for server in dnsdist_servers %}
{% if server.comment is defined %}
-- {{ server.comment }}
{% endif %}
newServer ({
    address="{{ server.address }}",
{% if server.name is defined %}
    name="{{ server.name }}",
{% endif %}
{% if server.qps is defined %}
    qps={{ server.qps }},
{% endif %}
})

{% endfor %}

-- ACL
{% for prefix in dnsdist_acl %}
addACL('{{ prefix }}')
{% endfor %}

-- Cache
pc = newPacketCache(100000, {maxTTL=86400, minTTL=0, temporaryFailureTTL=60, staleTTL=60, dontAge=false})
getPool(""):setCache(pc)

-- Console management
controlSocket('127.0.0.1:5199')
controlSocket('[::1]:5199')
-- generate with: openssl rand 32 | base64
setKey("{{ dnsdist_console_key_base64 }}")
addConsoleACL("{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}/32")
addConsoleACL("{{ ansible_default_ipv6.address|default(ansible_all_ipv6_addresses[0]) }}/128")

-- Web management
webserver("127.0.0.1:8083", "{{ dnsdist_web_password }}", "{{ dnsdist_web_apikey }}")
webserver("[::1]:8083", "{{ dnsdist_web_password }}", "{{ dnsdist_web_apikey }}")

