#!/bin/sh

create_partitions() {
    database=$1
    user=$2
    parent=$3
    days=$4
    echo "--- Creating $days partitions for database $database user $user parent table $parent"
    for day in $(seq 1 ${days}); do
        create_partition $database $user $parent ${parent}_$(date -v"+${day}d" +%Y_%m_%d)
    done
}

create_partition() {
    database=$1
    user=$2
    parent=$3
    partition=$4
    echo "--- Creating table $partition like table $parent in database $database with user $user"
    /usr/local/bin/psql -c "create table if not exists ${partition} (like ${parent} including all);" ${database} ${user}
}

{% for database in postgresql_partitioning_databases %}
{% for table in database['tables'] %}
/usr/local/bin/psql -c "\d {{ table }}_default; {{ database.database }} {{ database.user }}" > /dev/null 2>&1
if [ $? -eq 0 ];
    create_partitions "{{ database.database}}" "{{ database.user }}" "{{ table }}" {{ postgresql_partitioning_days_ahead }}
else
    echo "not creating partitions for table {{ table }} because default partition {{ table }}_default was not found"
fi
{% endfor %}
{% endfor %}

