[databases]
* = host=localhost

[pgbouncer]
pidfile = /var/run/pgbouncer/pgbouncer.pid

# logging
syslog = 1
syslog_facility = local1
syslog_ident = pgbouncer

# listen
listen_addr = 127.0.0.1,::1
listen_port = 6432

# authentication
auth_type = hba
auth_file = /usr/local/etc/pgbouncer.users
auth_hba_file = /usr/local/etc/pgbouncer_hba.conf
admin_users = pgbouncer

# SCALING
# allow this many simultaneous connections to the backend postgres
max_db_connections = 200

# allow this many simultaneous client connections to pgbouncer
max_client_conn = 1000

# allow this many simultaneous connections from the same user/db pair to pgbouncer
default_pool_size = 100

