# pgbouncer admin user has only local access
local pgbouncer pgbouncer md5

# regular pgbouncer users
{% for user in postgresql_users|default([]) %}
{% for ip in user.iplist|default([]) %}
{{ user.type }} {{ user.database }} {{ user.username }} {{ ip }} md5
{% endfor %}

{% endfor %}

