max_connections = {{ postgresql_max_connections }}
shared_buffers = {{ postgresql_shared_buffers }}
dynamic_shared_memory_type = posix
log_destination = 'syslog'
log_timezone = 'UTC'
#log_statement = 'all'
update_process_title = off
datestyle = 'iso, mdy'
timezone = 'UTC'
lc_messages = 'C'
lc_monetary = 'C'
lc_numeric = 'C'
lc_time = 'C'
default_text_search_config = 'pg_catalog.english'
full_page_writes = off
{% if postgresql_server_tls_enable %}
ssl = on
ssl_cert_file = '{{postgresql_homedir }}/{{ ansible_nodename }}.crt'
ssl_key_file = '{{ postgresql_homedir }}/{{ ansible_nodename }}.key'
{% endif %}
{% if postgresql_hot_standby %}hot_standby = on
{% endif %}
wal_level = {{ postgresql_wal_level }}
max_wal_senders = {{ postgresql_max_wal_senders }}
wal_keep_segments = {{ postgresql_wal_keep_segments }}
shared_preload_libraries = 'auto_explain,pg_stat_statements'
pg_stat_statements.max = {{ postgresql_pg_stat_statements_track }}
pg_stat_statements.track = all
auto_explain.log_min_duration = '{{ postgresql_auto_explain_min_duration_seconds }}s'

