---
- name: "Install pip"
  pkgng:
    name: "py{{ python_nodotversion }}-pip"
    state: "present"

- name: "Install setuptools"
  pkgng:
    name: "py{{ python_nodotversion }}-setuptools"
    state: "present"

- name: "Install virtualenv"
  pkgng:
    name: "py{{ python_nodotversion }}-virtualenv"
    state: "present"

- name: "Install OS dependencies for django"
  pkgng:
    name: "{{ django_os_dependencies + django_extra_os_dependencies | default([]) }}"
    state: "present"

- name: "Install gettext-tools if neded"
  pkgng:
    name: "gettext-tools"
    state: "present"
  when: django_i18n | default(False)

- name: "Check if we have an existing virtualenv for Django"
  stat:
    path: "{{ django_virtualenv_path }}"
  register: django_virtualenv
  changed_when: False
  tags:
    - "pip"

- name: "Get Python version for existing Django virtualenv"
  command: "{{ django_virtualenv_path }}/bin/python -V"
  register: detected_python_version
  changed_when: False
  when: django_virtualenv.stat.exists
  tags:
    - "pip"
  ignore_errors: True

- name: "Remove virtualenv if it is broken or has the wrong Python version"
  file:
    state: "absent"
    path: "{{ django_virtualenv_path }}"
  when:
    - django_virtualenv.stat.exists
    - (detected_python_version.stdout[0:10] != python_versionstring or detected_python_version.failed)
  tags:
    - "pip"

- name: "Create virtualenv and install needed pip modules from requirements file"
  pip:
    requirements: "{{ django_pip_requirements_path }}"
    virtualenv: "{{ django_virtualenv_path }}"
    virtualenv_python: "{{ django_python_path }}"
  environment:
    LANG: "C.UTF-8"
  tags:
    - "pip"

- name: "Install redis for django channel_layer where needed"
  pkgng:
    name: "databases/redis"
    state: "present"
  when: django_channels_layer_redis

- name: "Install channels_redis pip package for django channel_layer where needed"
  pip:
    name: "channels_redis"
    virtualenv: "{{ django_virtualenv_path }}"
    virtualenv_python: "{{ django_python_path }}"
  when: django_channels_layer_redis

