[paths]
data = /var/db/grafana/
logs = /var/log/grafana/
plugins = /var/db/grafana/plugins
provisioning = {{ grafana_provisioning_config_path }}

[server]
static_root_path = public
root_url = {{ grafana_root_url }}

[database]
url = {{ grafana_database_url }}

{% if grafana_ldap_config is defined  %}
[auth.ldap]
enabled = true
config_file = {{ grafana_ldap_config_path }}
{% endif %}

{% if grafana_anonymous_org is defined %}
[auth.anonymous]
enabled = true
org_name = {{ grafana_anonymous_org }}
org_role = Viewer
{% endif %}

[analytics]
reporting_enabled = true
check_for_updates = true

[security]
secret_key = {{ grafana_secret_key }}
allow_embedding = {{ grafana_allow_embedding }}

[log]
mode = syslog

[log.syslog]
facility = local2
tag = grafana

