[paths]
data = /var/db/grafana/
logs = /var/log/grafana/
plugins = /var/db/grafana/plugins

[server]
static_root_path = public
root_url = {{ grafana_root_url }}

[database]
url = {{ grafana_database_url }}

[session]
provider = file

[analytics]
reporting_enabled = true
check_for_updates = true

[security]
secret_key = {{ grafana_secret_key }}

[log]
mode = syslog

[log.syslog]
facility = local2
tag = grafana

