{% for macro in openbgpd_macros|default([]) %}
{{ macro.name }}="{{ macro.value }}"
{% endfor %}

{% for listen in openbgpd_listen_ips|default([]) %}
listen on {{ listen }}
{% endfor %}

AS {{ openbgpd_local_as }}
router-id {{ openbgpd_router_id }}
{% if openbgpd_fib_update|default(False) %}
fib-update yes
{% else %}
fib-update no
{% endif %}

{% for network in openbgpd_networks|default([]) %}
# {{ network.description }}
network {{ network.cidr }}
{% endfor %}

{% for neighbor in openbgpd_neighbors|default([]) %}
neighbor ${{ neighbor.macro }} {
        descr "{{ neighbor.description }}"
        remote-as {{ neighbor.remote_as }}
{% if neighbor.md5password is defined %}
        tcp md5sig password {{ neighbor.md5password }}
{% endif %}
        local-address {{ neighbor.local_address }}
{% if neighbor.nexthop is defined %}
        set nexthop {{ neighbor.nexthop }}
{% endif %}
}
{% endfor %}

