{% for macro in openbgpd_macros|default([]) %}
{{ macro.name }}="{{ macro.value }}"
{% endfor %}

{% for listen in openbgpd_listen_ips|default([]) %}
listen on {{ listen }}
{% endfor %}

AS {{ openbgpd_local_as }}
router-id {{ openbgpd_router_id }}
fib-update no

{% for network in openbgpd_networks|default([]) %}
# {{ network.description }}
network {{ network.cidr }}
{% endfor %}

{% for neighbor in openbgpd_neighbors|default([]) %}
neighbor ${{ neighbor.macro }} {
        descr "{{ neighbor.description }}"
        remote-as {{ neighbor.remote_as }}
}
{% endfor %}

