{% for name, value in openbgpd_macros.items()|default({}) %}
{{ name }}="{{ value }}"
{% endfor %}

{% for listen in openbgpd_listen_ips|default([]) %}
listen on {{ listen }}
{% endfor %}

AS {{ openbgpd_local_as }}
router-id {{ openbgpd_router_id }}
{% if openbgpd_fib_update|default(False) %}
fib-update yes
{% else %}
fib-update no
{% endif %}

{% if openbgpd_rde_med_compare_always|default(False) %}
rde med compare always
{% endif %}

{% for network in openbgpd_networks|default([]) %}
# {{ network.description }}
network {{ network.cidr }}{% if network.as_path_attributes is defined %}{% for attribute, value in network.as_path_attributes.items() %} set {{ attribute }} {{ value }}{% endfor %}{% endif %}

{% endfor %}

{% for neighbor in openbgpd_neighbors|default([]) %}
neighbor ${{ neighbor.macro }} {
        descr "{{ neighbor.description }}"
        remote-as {{ neighbor.remote_as }}
{% if neighbor.md5password is defined %}
        tcp md5sig password {{ neighbor.md5password }}
{% endif %}
{% if neighbor.local_address is defined %}
        local-address {{ neighbor.local_address }}
{% endif %}
{% if neighbor.nexthop is defined %}
        set nexthop {{ neighbor.nexthop }}
{% endif %}
{% if neighbor.multihop is defined %}
        multihop {{ neighbor.multihop }}
{% endif %}
}
{% endfor %}

{% for filter in openbgpd_filters|default([]) %}
{{ filter }}
{% endfor %}

