# OoklaServer Options
OoklaServer.tcpPorts = 5060,8080
OoklaServer.udpPorts = 5060,8080
OoklaServer.useIPv6 = true
OoklaServer.allowedDomains = {{ speedtest_allowed_domains | join(', ') }}
OoklaServer.maxThreads = 512
OoklaServer.enableAutoUpdate = false

# TLS options
openSSL.server.certificateFile = /usr/home/certgrinder/certificates/{{ ansible_nodename }}-chain.rsa.crt
openSSL.server.privateKeyFile = /usr/home/certgrinder/certificates/{{ ansible_nodename }}-keypair.rsa.key
openSSL.server.verificationMode = none

# logging
logging.loggers.app.name = Application
logging.loggers.app.channel.class = ConsoleChannel
logging.loggers.app.channel.pattern = %Y-%m-%d %H:%M:%S [%P - %I] [%p] %t
logging.loggers.app.level = information

