---
# where to put keys, certificates and pidfile
path: "{{ certgrinder_home }}/certificates"

# a list of sets of domains to get certificates for
domain-list:
{% if certgrinder_hostname_sets is defined %}
{{ certgrinder_hostname_sets | to_nice_yaml | indent(2, true) }}
{% else %}
  - {{ ansible_nodename }}
{% endif %}
certgrinderd: "{{ certgrinder_certgrinderd_command }}"
syslog-facility: "LOG_LOCAL4"
syslog-socket: "{{ certgrinder_syslog_socket }}"
post-renew-hooks-dir: "{{ certgrinder_home }}/hooks.d/"
{% if certgrinder_post_renew_hooks is defined %}
# run these hooks after renewal of one or more certificates
post-renew-hooks:
{{ certgrinder_post_renew_hooks | default(None) | to_nice_yaml }}
{% endif %}
