---
# where to put keys and certificates
path: "/usr/home/{{ certgrinder_user }}/certificates"

# a list of sets of domains to get certificates for
domainlist:
{% if certgrinder_hostname_sets is defined %}
{{ certgrinder_hostname_sets | default([]) | to_nice_yaml }}
{% else %}
- {{ ansible_nodename }}{% endif %}

# hostname of the certgrinder server
server: "{{ certgrinder_ssh_server }}"

# renew certificate when this many days or fewer validity left
cert_renew_threshold_days: 30

# the path of the certgrinder binary on the remote server
csrgrinder_path: '/usr/local/bin/csrgrinder'
{% if certgrinder_post_renew_hooks is defined %}
# run these after renewal of one or more certificates
post_renew_hooks:
{{ certgrinder_post_renew_hooks | default(None) | to_nice_yaml }}
{% endif %}
# enable fallback to selfsigned certificates?
selfsigned_fallback: False

# use this ssh source ip
{% if certgrinder_bind_ip is defined and certgrinder_bind_ip %}
bind_ip: {{ certgrinder_bind_ip }}
{% endif %}

# syslog settings
syslog_facility: 'local4'

