---
# where to put keys and certificates
path: "/usr/home/{{ certgrinder_user }}/certificates"

# a list of sets of domains to get certificates for
hostnames:
{{ certgrinder_hostname_sets | to_nice_yaml }}

# hostname of the certgrinder server
server: "{{ certgrinder_ssh_server }}"

# renew certificate when this many days or fewer validity left
cert_renew_threshold_days: 30

# the path of the certgrinder binary on the remote server
csrgrinder_path: '/usr/local/bin/csrgrinder'

# run these after renewal of one or more certificates
post_renew_hooks:
{{ certgrinder_post_renew_hooks | default(None) | to_nice_yaml }}

