---
acme-email: "{{ certgrinderd_acme_email }}"
auth-hook: "{{ certgrinderd_auth_hook }}"
acme-zone: "{{ certgrinderd_acme_zone }}"
web-root: "{{ certgrinderd_acme_webroot }}"
cleanup-hook: "{{ certgrinderd_cleanup_hook }}"
syslog-socket: "{{ certgrinderd_syslog_socket }}"
syslog-facility: "{{ certgrinderd_syslog_facility }}"
