####################################################################################################
### THIS pf.conf IS MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN!
####################################################################################################

####################################################################################################
################ options ###############################
set limit states 500000 # increased from default 10000
set limit frags 10000 # increased frm default 5000
set block-policy drop


####################################################################################################
################ macros ################################
{% for interface in pf.pf_gateway_interfaces %}
{{ pf.pf_gateway_interfaces[interface].macro }}="{{ pf.pf_gateway_interfaces[interface].interface }}"
{% endfor %}


###################################################################################################
############### scrubbing ##############################
scrub in on { {% for interface in pf.pf_gateway_interfaces %}{% if pf.pf_gateway_interfaces[interface].scrub %}${{ pf.pf_gateway_interfaces[interface].interface }} {% endif %}{% endfor %}} all fragment reassemble


####################################################################################################
############### translation BINAT ########################
{% for binat in pf.pf_gateway_binat_rules | default([]) %}
binat on ${{ binat.interface }} from {{ binat.inside }} -> {{ binat.outside }}
{% endfor %}

############### translation RDR ########################

############### translation NAT ########################

####################################################################################################
############### filtering ##############################
### block everything
#block log all

### skip loopback interface(s)
set skip on lo0


