####################################################################################################
### THIS pf.conf IS MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN!
####################################################################################################

####################################################################################################
################ options ###############################
set limit states 500000 # increased from default 10000
set limit frags 10000 # increased frm default 5000
set block-policy drop


####################################################################################################
################ macros ################################
{% for interface in pf.gateway_interfaces %}
{{ interface.macro }}="{{ interface.interface }}"
{% endfor %}

################ common address macros ###############
{{ pf.common_address_macros | default("# No common macros found") }}


################ macros specific to {{ ansible_nodename }} #######################
{{ pf.local_address_macros | default("# No local macros found") }}


###################################################################################################
############### scrubbing ##############################
scrub in on { {% for interface in pf.gateway_interfaces %}{% if interface.scrub %}${{ interface.macro }} {% endif %}{% endfor %}} all fragment reassemble


####################################################################################################
############### translation BINAT ########################
{% for binat in pf.pf_gateway_binat_rules | default([]) %}
binat on ${{ binat.interface }} from {{ binat.inside }} -> {{ binat.outside }}
{% endfor %}

############### translation RDR ########################

############### translation NAT ########################

####################################################################################################
############### filtering ##############################
### block everything
#block log all

### skip loopback interface(s)
set skip on lo0

{% for rule in pf.host_rules %}
# pass in quick on { {{ rule.interfaces | join(" ") }} } proto { {{ rule.protocols | join(" ") }} } from { {{ rule.clients | join(" ") }} } to { {{ rule.ips | join(" ") }} } port { {{ rule.ports | join(" ") }} }
{% endfor %}

