#!/bin/sh

# PROVIDE: circusd
# REQUIRE: DAEMON
# KEYWORD: shutdown

. /etc/rc.subr

name="circusd"
rcvar="${name}_enable"

sig_stop="QUIT"
start_cmd="${name}_start"
stop_cmd="${name}_stop"
reload_precmd="echo Reloading circusd"

load_rc_config $name

: ${circusd_enable="NO"}
: ${circusd_config="/usr/local/etc/circusd.ini"}
: ${circusd_user="www"}

command="{{ django_virtualenv_path }}/bin/circusd"
pidfile="/var/run/${name}/${name}.pid"
extra_commands="reload"

circusd_start()
{
  echo "Starting circusd"
  /usr/bin/su -m ${circusd_user} -c "/bin/sh -c \"${command} --daemon ${circusd_config}\""
}

circusd_stop()
{
  if [ -f ${pidfile} ]; then
    /bin/pgrep -qF $pidfile
    if [ $? -eq 0 ]; then
      echo "Stopping circusd"
      /bin/pkill -QUIT -F $pidfile
      /bin/pwait -v $(cat $pidfile)
    else
      echo "circusd is not running, removing old pidfile"
      /bin/rm $pidfile
    fi
  else
    echo "circusd is not running"
  fi
}

required_files="${circusd_config}"
load_rc_config $name
command_interpreter="{{ django_virtualenv_path }}/bin/python3.5"
run_rc_command "$1"

