[circus]
logoutput = syslog:///var/run/log?local2
pidfile = /var/run/circusd/circusd.pid
endpoint = tcp://127.0.0.1:5555

[socket:django_weblistener]
host = 127.0.0.1
port = 8080
stdout_stream.class = StdoutStream
stderr_stream.class = StdoutStream

[watcher:django_wsgi_worker]
cmd = {{ django_virtualenv_path }}/bin/chaussette --fd $(circus.sockets.django_weblistener) {{ django_mainapp }}.wsgi.application
use_sockets = True
numprocesses = 5
uid = 80
gid = 80

[env:django_wsgi_worker]
PYTHONPATH = {{ django_root }}

