[uwsgi]
chdir={{ django_root }}
module={{ django_mainapp }}.wsgi:application
master=True
pidfile=/tmp/uwsgi.pid
vacuum=True
max-requests=5000
daemonize=/var/log/uwsgi.log
socket=/tmp/uwsgi.sock
processes=20
threads=2
virtualenv={{ django_virtualenv_path }}
{% for worker in djangomanage_workers  %}
attach-daemon2 = cmd={{ django_virtualenv_path }}/bin/python {{ django_root }}/manage.py {{ worker }},pidfile=/var/run/django/{{ worker }}.pid,uid=80,gid=80,chdir={{ django_root }},daemonize=yes
{% endfor %}
