# {{ item.comment }}
{% if item.minute is defined %}{{ item.minute }}{% else %}*{% endif %} {% if item.hour is defined %}{{ item.hour }}{% else %}*{% endif %} {% if item.mday is defined %}{{ item.mday }}{% else %}*{% endif %} {% if item.month is defined %}{{ item.month }}{% else %}*{% endif %} {% if item.wday is defined %}{{ item.wday }}{% else %}*{% endif %} {{ item.user }} {{ item.command }}{% if item.syslog is defined and item.syslog %} 2>&1 | /usr/bin/logger -p {% if item.syslogfacility is defined %}{{ item.syslogfacility }}{% else %}cron.info{% endif %}{% if item.syslogtag is defined %} -t {{ item.syslogtag }}{% endif %}{% endif %}

