{% if pkg_tykports_enable|default(True) %}
{{ poudriere_repo_name }}: {
    url: "https://{{ poudriere_repo_hostname }}/packages/freebsd_{{ ansible_distribution_version|replace('.', '_') }}_{{ ansible_architecture }}-tykports",
    mirror_type: "http",
    signature_type: "pubkey",
    pubkey: "/usr/local/etc/ssl/certs/poudriere.cert",
    enabled: yes,
    priority: 200
}
{% endif %}
{{ poudriere_repo_name }}: {
    url: "https://{{ poudriere_repo_hostname }}/packages/{{ poudriere_package_set }}",
    mirror_type: "http",
    signature_type: "pubkey",
    pubkey: "/usr/local/etc/ssl/certs/poudriere.cert",
    enabled: yes,
    priority: 100
}

