#!/bin/sh
/usr/bin/logger "CARP $1 just became $2"

if [ "$2" -eq "MASTER" ]; then
    ACTION="UP"
else
    ACTION="DOWN"
fi

{% for interface in proxyarp_configs %}
# handle {{ proxyarp_interface }}.{{ interface.vlan }}
/usr/bin/logger "${ACTION}'ing interface {{ proxyarp_interface }}.{{ interface.vlan }}"
/sbin/ifconfig {{ proxyarp_interface }}.{{ interface.vlan }} $ACTION

{% endfor %}

