#!/bin/sh
/usr/bin/logger "CARP $1 just became $2 on $(hostname) !"

if [ "$2" = "MASTER" ]; then
    # add VIP to bridge interface
    /usr/bin/logger "UP'ing {{ stickybridge_bridge }} because CARP $1 just became $2 ..."
    /sbin/ifconfig {{ stickybridge_bridge }} up
else
    /usr/bin/logger "DOWN'ing {{ stickybridge_bridge }} because CARP $1 just became $2 ..."
    /sbin/ifconfig {{ stickybridge_bridge }} down
fi

