---
- name: "Install mailman"
  pkgng:
    name: "mailman"
    state: "present"

- name: "Enable mailman"
  service:
    name: "mailman"
    enabled: yes

- name: "Install postfix-to-mailman.py"
  copy:
    owner: "mailman"
    group: "mailman"
    mode: "0755"
    src: "postfix-to-mailman.py"
    dest: "/usr/local/mailman/postfix-to-mailman.py"

- name: "Add postfix-to-mailman.py to master.cf"
  blockinfile:
    create: yes
    dest: "/usr/local/etc/postfix/master.cf"
    marker: "# {mark} ANSIBLE MANAGED BLOCK mailman integration"
    content: |
      mailman unix - n n - - pipe
        flags=FR user=mailman:mailman
        argv=/usr/local/mailman/postfix-to-mailman.py ${nexthop} ${user}

- name: "Configure mailman DEFAULT_EMAIL_HOST"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_EMAIL_HOST = "
    line: "DEFAULT_EMAIL_HOST = '{{ mailman_primary_domain }}'"

- name: "Configure mailman DEFAULT_URL_HOST"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_URL_HOST = "
    line: "DEFAULT_URL_HOST = '{{ ansible_nodename }}'"

- name: "Configure mailman DEFAULT_URL_PATTERN"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_URL_PATTERN = "
    line: "DEFAULT_URL_PATTERN = 'https://%s/mailman/'"

- name: "Configure mailman DEFAULT_FROM_IS_LIST"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_FROM_IS_LIST = "
    line: "DEFAULT_FROM_IS_LIST = 1"

- name: "Configure mailman DEFAULT_LIST_ADVERTISED"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_LIST_ADVERTISED = "
    line: "DEFAULT_LIST_ADVERTISED = Yes"

- name: "Configure mailman DEFAULT_SUBSCRIBE_POLICY"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_SUBSCRIBE_POLICY = "
    line: "DEFAULT_SUBSCRIBE_POLICY = 3"

- name: "Configure mailman DEFAULT_ARCHIVE_PRIVATE"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_ARCHIVE_PRIVATE = "
    line: "DEFAULT_ARCHIVE_PRIVATE = 1"

- name: "Configure mailman DEFAULT_FIRST_STRIP_REPLY_TO"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_FIRST_STRIP_REPLY_TO = "
    line: "DEFAULT_FIRST_STRIP_REPLY_TO = 1"

- name: "Configure mailman DEFAULT_REPLY_GOES_TO_LIST"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_REPLY_GOES_TO_LIST = "
    line: "DEFAULT_REPLY_GOES_TO_LIST = 1"

- name: "Configure mailman DEFAULT_URL_HOST"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_URL_HOST = "
    line: "DEFAULT_URL_HOST = '{{ ansible_nodename }}'"

- name: "Configure mailman DEFAULT_EMAIL_HOST"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^DEFAULT_EMAIL_HOST = "
    line: "DEFAULT_EMAIL_HOST = '{{ ansible_nodename }}'"

- name: "Add mailman virtualhost"
  lineinfile:
    dest: "/usr/local/mailman/Mailman/mm_cfg.py"
    regexp: "^add_virtualhost"
    line: "add_virtualhost(DEFAULT_URL_HOST, DEFAULT_EMAIL_HOST)"

- name: "Fix permissions on mailman private archive dir"
  file:
    path: "/usr/local/mailman/archives/private"
    state: "directory"
    mode: "2770"

- name: "generate mailman list password"
  shell: "openssl rand -base64 33 | tr -d '='"
  args:
    creates: "/usr/local/mailman/lists/mailman"
  register: password

- name: "Create mailman mailing lists"
  shell: "/usr/local/mailman/bin/newlist -a mailman {{ mailman_list_owner }} {{ password.stdout }}"
  args:
    creates: "/usr/local/mailman/lists/mailman"

- name: "Create virtual for mailman mailinglist"
  blockinfile:
    create: yes
    dest: "/usr/local/etc/postfix/mailman_virtual_alias_maps"
    marker: "# {mark} ANSIBLE MANAGED BLOCK mailman mailinglist"
    content: |
      ## mailman mailing list
      mailman@{{ mailman_primary_domain }}              mailman@{{ mailman_fake_domain }}
      mailman-admin@{{ mailman_primary_domain }}        mailman-admin@{{ mailman_fake_domain }}
      mailman-bounces@{{ mailman_primary_domain }}      mailman-bounces@{{ mailman_fake_domain }}
      mailman-confirm@{{ mailman_primary_domain }}      mailman-confirm@{{ mailman_fake_domain }}
      mailman-join@{{ mailman_primary_domain }}         mailman-join@{{ mailman_fake_domain }}
      mailman-leave@{{ mailman_primary_domain }}        mailman-leave@{{ mailman_fake_domain }}
      mailman-owner@{{ mailman_primary_domain }}        mailman-owner@{{ mailman_fake_domain }}
      mailman-request@{{ mailman_primary_domain }}      mailman-request@{{ mailman_fake_domain }}
      mailman-subscribe@{{ mailman_primary_domain }}    mailman-subscribe@{{ mailman_fake_domain }}
      mailman-unsubscribe@{{ mailman_primary_domain }}  mailman-unsubscribe@{{ mailman_fake_domain }}

- name: "Start mailman"
  service:
    name: "mailman"
    state: "started"

- name: "generate mailinglist passwords"
  shell: "openssl rand -base64 33 | tr -d '='"
  args:
    creates: "/usr/local/mailman/lists/{{ item.key }}"
  register: passwords
  with_dict: "{{ lists | default({}) }}"

- name: "Create mailinglists"
  shell: "/usr/local/mailman/bin/newlist -a {{ item.0 }} {{ lists[item.0] }} {{ item.1.stdout }}"
  args:
    creates: "/usr/local/mailman/lists/{{ item.0 }}"
  with_together:
    - "{{ lists }}"
    - "{{ passwords.results }}"

- name: "Create virtual alias maps for {{ item.key }} mailinglist"
  blockinfile:
    dest: "/usr/local/etc/postfix/mailman_virtual_alias_maps"
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.key }} mailinglist"
    content: |
      ## mailman mailing list
      {{ item.key }}@{{ mailman_primary_domain }}              {{ item.key }}@{{ mailman_fake_domain }}
      {{ item.key }}-admin@{{ mailman_primary_domain }}        {{ item.key }}-admin@{{ mailman_fake_domain }}
      {{ item.key }}-bounces@{{ mailman_primary_domain }}      {{ item.key }}-bounces@{{ mailman_fake_domain }}
      {{ item.key }}-confirm@{{ mailman_primary_domain }}      {{ item.key }}-confirm@{{ mailman_fake_domain }}
      {{ item.key }}-join@{{ mailman_primary_domain }}         {{ item.key }}-join@{{ mailman_fake_domain }}
      {{ item.key }}-leave@{{ mailman_primary_domain }}        {{ item.key }}-leave@{{ mailman_fake_domain }}
      {{ item.key }}-owner@{{ mailman_primary_domain }}        {{ item.key }}-owner@{{ mailman_fake_domain }}
      {{ item.key }}-request@{{ mailman_primary_domain }}      {{ item.key }}-request@{{ mailman_fake_domain }}
      {{ item.key }}-subscribe@{{ mailman_primary_domain }}    {{ item.key }}-subscribe@{{ mailman_fake_domain }}
      {{ item.key }}-unsubscribe@{{ mailman_primary_domain }}  {{ item.key }}-unsubscribe@{{ mailman_fake_domain }}
  with_dict: "{{ lists | default({}) }}"

- name: "Reload Postfix"
  service:
    name: "postfix"
    state: "reloaded"

