---
- name: "Get mailecho script"
  get_url:
    url: "https://raw.githubusercontent.com/tykling/mailecho/master/mailecho"
    dest: "/usr/local/bin/mailecho"
    mode: "0755"

- name: "Install py37-yaml"
  pkgng:
    name: "py37-yaml"
    state: "present"

- name: "Enable mailecho service in master.cf"
  blockinfile:
    create: yes
    dest: "/usr/local/etc/postfix/master.cf"
    marker: "# {mark} ANSIBLE MANAGED BLOCK mailecho"
    content: |
      # mailecho service, see https://github.com/tykling/mailecho for more
      mailecho  unix  -       n       n       -       -       pipe flags=F user=nobody:nobody argv=/usr/local/bin/mailecho
  notify: "reload postfix"

