#!/bin/sh
#
# BEFORE: DAEMON
# PROVIDE: ezjail.{{ ezjail_flavourname }}.config
#
# ezjail flavour

. /etc/rc.subr

name=ezjail_flavour_{{ ezjail_flavourname }}
start_cmd=flavour_setup

flavour_setup() {
  rm -f "/etc/rc.d/ezjail_flavour_{{ ezjail_flavourname }}"
  pw groupadd -q -g {{ ezjail_ansible_userid }} -n ansible
  pw useradd -n ansible -u {{ ezjail_ansible_userid }} -s /bin/sh -m -d /usr/home/ansible -g ansible -c 'ansible user' -h -
  env ASSUME_ALWAYS_YES=YES pkg bootstrap
  pkg install -y sudo python2
}

run_rc_command "$1"

