---
modules:
  node:
    method: http
    http:
       port: 9100
{% for exp in prometheus_exporter_exporters|default([]) %}
  {{ exp.name }}:
    method: http
    http:
      port: {{ exp.httpport }}
{% endfor %}

