---
modules:
  sysctl_exporter:
    method: http
    http:
      port: 9124
  node_exporter:
    method: http
    http:
       port: 9100
{% if 'postgresql_servers' in group_names %}
  postgres_exporter:
    method: http
    http:
      port: 9187
{% endif %}

