---
modules:
  sysctl_exporter:
    method: http
    http:
      port: 9124
  node_exporter:
    method: http
    http:
       port: 9100
  postgres_exporter:
    method: http
    http:
      port: 9187
  uwsgi_exporter:
    method: http
    http:
      port: 9117
  nginx_exporter:
    method: http
    http:
      port: 9113
  gstat_exporter:
    method: http
    http:
      port: 9248
  jail_exporter:
    method: http
    http:
      port: 9452
  bind_exporter:
    method: http
    http:
      port: 9119
  dnsdist:
    method: http
    http:
      port: 8083
