[server]
daemon = False

[encoding]

[well-known]

[auth]
type = http_x_remote_user

[git]

[rights]
file = /usr/local/etc/radicale/rights

[storage]
filesystem_folder = {{ radicale_datadir }}

[logging]

[headers]

