[auth]
type = http_x_remote_user

[rights]
type = from_file
file = {{ radicale_configdir }}/rights

[storage]
filesystem_folder = {{ radicale_datadir }}
hook = ([ -d .git ] || /usr/local/bin/git init) && /usr/local/bin/git add -A && (/usr/local/bin/git diff --cached --quiet || /usr/local/bin/git commit -m "Changes by %(user)s")
