[auth]
type = http_x_remote_user

[rights]
type = from_file
file = {{ radicale_configdir }}/rights

[storage]
filesystem_folder = {{ radicale_datadir }}
hook = ([ -d .git ] || git init) && git add -A && (git diff --cached --quiet || git commit -m "Changes by "%(user)s)
