# Authenticated users can read the root collection
[read]
user = .+
collection =
permissions = r

# Authenticated users can read and write their own principal collections
[principal]
user: .+
collection: {user}
permissions: RW

# and their own calendars / contacts collections
[calendars]
user: .+
collection: {user}/[^/]+
permissions: rw

# custom rights from ansible radicale_rights_sections below here
{% for section in radicale_rights_sections | default([]) %}
[{{ section.title }}]
user = {{ section.user }}
collection = {{ section.collection }}
permissions = {{ section.permissions }}

{% endfor %}

