---
server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: "/tmp/promtail-positions.yaml"

clients:
{% for client in promtail_clients %}
  - url: "{{ client }}"
{% endfor %}

scrape_configs:
  {{ promtail_scrape_configs | to_nice_yaml(indent=2) | indent(2, False) }}
