{% for user in nut_upsd_users %}
[{{ user.username }}]
    password = {{ user.password }}
{% if user.upsmon is defined and user.upsmon %}
    upsmon master
{% endif %}
{% for action in user.actions|default([]) %}    actions = {{ action }}
{% endfor %}
{% for cmd in user.instcmds|default([]) %}    instcmds = {{ cmd }}
{% endfor %}

{% endfor %}
