{% for ups in nut_ups_list %}
MONITOR {{ ups.name }}@localhost 1 {{ ups.upsmon_upsd_username }} {{ ups.upsmon_upsd_password }} master
{% endfor %}
SHUTDOWNCMD {{ nut_upsmon_shutdown_cmd }} 
NOTIFYCMD {{ nut_upsmon_notifycmd }}
DEADTIME {{ nut_upsmon_deadtime_seconds }}
FINALDELAY {{ nut_upsmon_finaldelay_seconds }}
POWERDOWNFLAG /etc/killpower
