Log notice syslog
RunAsDaemon 1
DataDirectory {{ datadir }}
{% if instance.value.syslog_identity|default("") %}
SyslogIdentityTag {{ instance.value.syslog_identity }}
{% endif %}
{% if instance.value.disable_socks|default(False) %}
SocksPort 0
{% endif %}

{% if instance.value.relay | default({}) %}
Address {{ ansible_nodename }}
Nickname {{ instance.value.relay.nickname }}
ContactInfo {{ instance.value.relay.contactinfo }}
MyFamily {{ tor_relay_family | join(",") }}

ExitPolicy reject *:*

ORPort 443 NoListen
ORPort 9090 NoAdvertise
{% if instance.value.relay.v6ip is defined %}
ORPort [{{ instance.value.relay.v6ip }}]:443 NoListen
ORPort [{{ instance.value.relay.v6ip }}]:9090 NoAdvertise
{% endif %}

DirPort 80 NoListen
DirPort 9091 NoAdvertise

ControlPort 9051

MetricsPort {{ instance.value.metricsport }}
MetricsPortPolicy accept {{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
{% endif %}

{% for os in instance.value.onion_services | default([]) %}
HiddenServiceDir {{ datadir }}/{{ os.name }}/
{% for hsp in os.hidden_service_ports %}
HiddenServicePort {{ hsp }}
{% endfor %}
{% endfor %}

{% if instance.value.onion_client_auths | default({}) %}
ClientOnionAuthDir {{ datadir }}/onion_auth
{% endif %}
