---
- name: Add dovecot.log to syslog.conf
  lineinfile:
    dest: /etc/syslog.conf
    regexp: "^local3"
    line: "local3.*                                        /var/log/dovecot.log"

- name: Create dovecot.log if it doesn't exist
  file:
    path: /var/log/dovecot.log
    state: touch
    mode: "600"

- name: Reload syslogd
  service:
    name: syslogd
    state: reloaded

- name: Add dovecot.log to newsyslog.conf
  lineinfile:
    dest: /etc/newsyslog.conf
    regexp: "^/var/log/dovecot.log "
    line: "/var/log/dovecot.log                    640  365   *    @T00  JC"

